<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AE - ArtExpress</title>
    <link href="~/Content/headerStyle.css" rel="stylesheet" />
    <link href="~/Content/footerStyle.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header class="menu">
        <div class="row">
            <a class="logo" href="@Url.Action("Index","Home")"><span class="colorDorado">ART EXPRESS</span></a>
            <nav>
                <ul>
                    <li>@Html.ActionLink("Artistas", "Index", "Artists")</li>
                    <li>@Html.ActionLink("Galería", "Index", "Products")</li>
                    <li>
                        <a href="@Url.Action("Index","Cart")" class="carrito">
                            <i id="logoCarrito" class="fas fa fa-shopping-cart fa-lg"></i>
                            <span id="cart_count" class="carrito-cantidad-items">
                                #
                            </span>
                        </a>
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </nav>
        </div>
    </header>

    <div>

        @RenderBody()

    </div>

    <footer>
        <div class="row">&copy; @DateTime.Now.Year - Hernan Cortes, Javier Grassano, Agustín Zalazar - LPPA - Universidad Abierta Interamericana</div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/raphael.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>

        $(document).ready(function () {
            CartTotal();
        });

        $(window).scroll(function () {
            if ($(window).scrollTop() > 90) {
                $('.menu').addClass('menuMini');
                $('.logo').addClass('logoMini');
                $('nav ul').addClass('navMini');
                $('nav').addClass('.navMini');
            } else {
                $('.menu').removeClass('menuMini');
                $('.logo').removeClass('logoMini');
                $('nav ul').removeClass('navMini');
                $('nav').removeClass('.navMini');
            }
        });

                //$(document).on('click', 'nav a', function (e) {
                //    e.preventDefault();
                //    e.stopPropagation();
                //    e.stopImmediatePropagation();
                //    var id = $(this).attr("href");
                //    var offset = 20;
                //    var target = $(id).offset().top - offset;
                //    $('html,body').animate({
                //        scrollTop: target
                //    }, 400);
                //});
        /*
        $(document).on('click', '.logo', function (e) {
            e.preventDefault();
            e.stopPropagation();
            e.stopImmediatePropagation();
            $('html,body').animate({
                scrollTop: 0
            }, 400);
        });
        */
    </script>
</body>

</html>
