@model ArtEx.EF.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.artist.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.artist.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantitySold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantitySold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avgStars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avgStars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.changedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.changedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
