@model IEnumerable<ArtEx.EF.Product>

<link href="~/Content/Galeria.css" rel="stylesheet" />
<link href="~/Content/headerStyle.css" rel="stylesheet" />

<section is="artistsSection">
    <div class="row content container">
        <h1>Galería</h1>

        <p>
            @Html.ActionLink("Crear Nuevo", "Create", null, null, new { @class = "boton_amarillo" })
        </p>

        <div class="galeria-container-all">
            @foreach (var item in Model)
            {
                <div class="galeria-container">
                    @{
                        string imagenFile = $"public/pictures/{item.image}";
                    }
                    <img class="galeria-imagen" src="@imagenFile" onclick="window.location.href = '@Url.Action("View", "Products", new { id = item.id })';" />
                    <br />
                    <span class="galeria-titulo">
                        @Html.DisplayFor(modelItem => item.title)
                    </span>
                    <br />
                    <span class="galeria-texto">
                        @Html.DisplayFor(modelItem => item.artist.fullName)
                    </span>
                    <br />
                    <span class="galeria-precio">
                        Precio : $@Html.DisplayFor(modelItem => item.price)
                    </span>
                    <div class="galeria-boton-ver-mas">
                        <a onclick="AddProduct(@item.id,1)">Agregar</a>
                    </div>
                </div>
            }
        </div>
</section>