@model Product
@{
    string imagenFile = $"/public/pictures/{Model.image}";
    bool isAdmin = User.IsInRole("Admin");
    string star = $"/public/star{Model.avgStars.ToString("n0")}.png";
}

<section is="artistsSection">
    <div class="row content container">

        <div class="artistForm">
            
            <div>
                <span class="title">
                    @Model.title <small>(@Model.artist.fullName)</small>
                </span>
                @if (isAdmin)
                {
                    <a class="boton_amarillo" href="/Products">Volver a Galería</a>
                    <a class="boton_amarillo" href="/Products/Edit/@Model.id">Editar</a>
                }
                </div>
            <br />
            <img class="photo" src="@imagenFile" />
            <span class="">
                <strong class="bold">Descripción:</strong><br />
                @Html.DisplayFor(model => model.description)
            </span><br /><br />
            <span class="">
                <strong class="bold">Precio:</strong><br />
                @Html.DisplayFor(model => model.price)
            </span><br /><br />
            <span class="">
                <strong class="bold">Cantidad vendida:</strong><br />
                @Html.DisplayFor(model => model.quantitySold)
            </span><br /><br />
                         <span class="">
                             <strong class="bold">Estrellas:</strong><br />
                             <img src="@star" />
                         </span>
        </div>
    </div>
</section>


