@model ArtEx.EF.Cart

<link href="~/Content/Carrito.css" rel="stylesheet" />

<section is="artistsSection">
    <div class="row content container">
        <h1>Carro de compras</h1>
        <div class="carrito-container">

            <div class="carrito-titulo">
                Listado de Productos
            </div>

            @foreach (var item in Model.items)
            {
                string imagenFile = $"public/pictures/{item.product.image}";
                <div class="carrito-item">

                    <div class="carrito-cantidad">
                        <span class="btn-delete">
                            @*@Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                        </span>
                    </div>

                    <div class="carrito-imagen">
                        <img src="@imagenFile" onclick="window.location.href = '@Url.Action("View", "Products", new { id = item.id })';" />
                    </div>

                    <div class="carrito-descripcion">
                        <span>
                            @Html.DisplayFor(modelItem => item.product.title)
                        </span>
                        <span>
                            @Html.DisplayFor(modelItem => item.product.artist.fullName)
                        </span>
                    </div>

                    <div class="carrito-cantidad">
                        <button class="btn-menos" onclick="AddProduct(@item.productId,-1)">-</button>
                        <span id="quantity_@item.productId">@item.quantity</span>
                        <button class="btn-mas" onclick="AddProduct(@item.productId,1)">+</button>
                    </div>

                    <div class="carrito-precio-total">
                        @* @Html.DisplayFor(modelItem => item.price)*@
                        $<span id="total_@item.productId">@item.total</span>
                    </div>
                </div>
            }
            <div class="carrito-totales">
                    Total
                    $<span id="cart_total">@Model.total</span>
            </div>

        </div>
    </div>
</section>
