@using ArtExWeb.Models
@model LoginViewModel

<section id="loginForm">
    <div class="row content container">

        <div class="artistForm">
            <span class="title">
                Ingreso de sistema
            </span>


            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div>
                    <label>Ingrese su Email</label>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
                <div>
                    <label>Contraseña</label>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div>
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        <label>Recuerdame</label>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Log in" class="boton_amarillo" />
                    <a class="boton_amarillo" href="/account/Register">Registrarse como nuevo usuario</a>
                </div>
                <p>

                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }

        </div>
    </div>
</section>

