@model ArtExWeb.Models.RegisterViewModel
@{
}

    <section id="loginForm">
        <div class="row content container">

            <div class="artistForm">
                <span class="title">
                    Crear una nueva cuenta
                </span>

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div>
                        <label>Email</label>
                        @Html.TextBoxFor(m => m.Email)
                    </div>
                    <div>
                        <label>Contraseña</label>
                        @Html.PasswordFor(m => m.Password)
                    </div>
                    <div>
                        <label>Confirmar contraseña</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    <div>
                        <input type="submit" class="boton_amarillo" value="Registrar" />
                    </div>
                }


            </div>
        </div>
    </section>

