@{
    var mostSelled = ViewBag.mostSelled;
    var bestRanked = ViewBag.bestRanked;
    string imagenFile = "";
}
<link href="~/Content/Galeria.css" rel="stylesheet" />
<link href="~/Content/Carrito.css" rel="stylesheet" />

<div>
    <img style="width:100%;margin-top:30px;" src="~/public/pictures/parthenon.jpg" />
</div>

<section id="sec00">
    <div class="row content">
        <h1>Productos más vendidos</h1>

        <div class="carrito-container">

            @{int counter1 = 1; }
            @foreach (Product item in mostSelled)
            {
                imagenFile = $"public/pictures/{item.image}";
                <div class="carrito-item" onclick="AddProduct(@item.id,1)">

                    <div style="font-size:45px;"class="carrito-imagen colorDorado">
                        @counter1
                        @{counter1++;}
                    </div>
                    <div class="carrito-imagen">
                        <img src="@imagenFile" />
                    </div>

                    <div class="carrito-descripcion">
                        <span>
                            @item.title
                        </span>
                        <span>
                            @item.artist.fullName
                        </span>
                        <span>
                            $@item.price
                        </span>
                        <span>
                            @item.quantitySold Ventas
                        </span>
                    </div>


                </div>
            }
        </div>
    </div>
</section>

<section id="sec01">
    <div class="row content">
        <h1>Productos mejor rankeados</h1>

        <div class="carrito-container">

            @{int counter2 = 1; }
            @foreach (Product item in bestRanked)
            {
                imagenFile = $"public/pictures/{item.image}";
                string star = $"public/star{item.avgStars.ToString("n0")}.png";
                <div class="carrito-item" onclick="AddProduct(@item.id,1)">

                    <div style="font-size:45px;"class="carrito-imagen colorDorado">
                        @counter2
                        @{counter2++;}
                    </div>
                    <div class="carrito-imagen">
                        <img src="@imagenFile" />
                    </div>
                    
                    <div class="carrito-descripcion">
                        <span>
                            @item.title
                        </span>
                        <span>
                            @item.artist.fullName
                        </span>
                        <span>
                            $@item.price
                        </span>
                        <span>
                            <img src="@star" />
                        </span>
                    </div>

                </div>
            }

        </div>
    </div>
</section>

<section id="sec02">
    <div class="row content">
        <h1>Sobre Nosotros</h1>
        <h3>
            Proyecto Web: Galería de Arte
        </h3>



        <p>Alumnos de la facultad de Ingenieria de la Universidad Abierta Inteamericana. Sede Castelar</p>
        <p>
            Materia: Lenguaje de Programación Para la Administración<br />
            Profesor: Victor Contreras.
            Año: 2020
        </p>
        <p>
            <a href="#">Cortes, Hernan</a><br>
            <a href="#">Grassano, Javier</a><br>
            <a href="#">Zalazar, Agustin</a><br>
        </p>
    </div>
</section>
