@model ArtExWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row content container">
    <h1>Mi Perfil</h1>
    <div class="accesoForm">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <strong class="bold">Cambiar contraseña</strong>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                Contraseña Anterior
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                Nueva contraseña
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                Confirme nueva contraseña
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <br />
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Cambiar contraseña" class="btn btn-default" />
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>