@model Artist
@{
    string imagenFile = $"../../public/artist_{Model.id}.jpg";
    string flagFile = $"../../public/flag_{Model.country}.png";
    bool isAdmin = User.IsInRole("Admin");
}

    <section is="artistsSection">
        <div class="row content container">

            <div class="artistForm">
                <div>
                    <span class="title">
                        @Model.lastName, @Model.firstName <small>(@Model.lifeSpan)</small>
                    </span>
                    <a class="boton_amarillo" href="/Artists">Volver a Artistas</a>
                    @if (isAdmin)
                    {
                        <a class="boton_amarillo" href="/Artists/Edit/@Model.id">Editar</a>
                    }
                </div>
                    
                <h2>@Html.DisplayFor(modelItem => Model.country) <img class="flag" src="@flagFile" /></h2>
                

                <img class="photo" src="@imagenFile" />
                
                <span class="">
                    <h2><b>Descripción:</b></h2><br/>
                    @Html.DisplayFor(model => model.description)
                </span>
            </div>
        </div>
    </section>