@model Artist
@{
    string imagenFile = $"../../public/artist_{Model.id}.jpg";
    string flagFile = $"../../public/flag_{Model.country}.png";
}

<section is="artistsSection">
    <div class="container">
            <h3>
                @Html.DisplayFor(modelItem => Model.lastName), @Html.DisplayFor(modelItem => Model.firstName)
            </h3>
        <hr />
        <img class="photo" src="@imagenFile" />
        <br />
        <span>
            @Html.DisplayFor(modelItem => Model.lifeSpan)<br />
            @Html.DisplayFor(modelItem => Model.country) <img class="flag" src="@flagFile" />
        </span>
        <br />
        <b>Descripcion:</b>
        @Html.DisplayFor(model => model.description)

        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </div>
</section>