@model ArtEx.EF.OrderDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>OrderDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.order.createdBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.order.createdBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.product.title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.product.title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.createdOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.createdOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.createdBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.createdBy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.changedOn)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.changedOn)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.changedBy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.changedBy)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
